.focused {
  background-image: linear-gradient(to top left, #FFFFFF, rgb(252, 252, 252));
  box-shadow: 0px 0px 2px rgb(233, 233, 233);
  padding: 10px
}

.minimised {
  background-image: linear-gradient(to bottom right, #FFFFFF, #FAFAFA);
  box-shadow: 0px 0px 2px rgb(233, 233, 233);
  padding: 10px;
}

.minimised:hover {
  transition: 1s;
}

.minimised input {
  display: none;
}

.flex-boxes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type=text], input[type=number], input[type=email], input[type=password] {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-image: linear-gradient(to right bottom, #5F2E8B 0%, #FFFFFF 20%, #FFFFFF 60%, #792FBA 100%);
  border-image-slice: 1;
  border-width: 1px;
  outline: none;
}

input[type=text]:hover, input[type=number]:hover, input[type=email]:hover, , input[type=password]:hover {
  border-image: linear-gradient(to right bottom, #5F2E8B 0%, #FFFFFF 40%, #FFFFFF 50%, #792FBA 100%);
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=password]:focus {
  border-width: 2px;
  padding: 11px;
  box-shadow: 0px 0px 6px #792FBA;
  border: none;
}

.round-but {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  color: white;
  text-shadow: 1px 1px 0px #222;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px #999;
  margin-left: 2px;
  outline: none;
}

.round-but:hover:enabled {
  transition: 0.3s;
  background-position: 30px;
  cursor: pointer;
  transform: scale(1.1);
}

.round-but:disabled {
  background-image: linear-gradient(to right bottom, rgb(148, 120, 173) 2%, rgb(168, 168, 168) 98%);
}

.edit-but {
  background-image: linear-gradient(to right bottom, rgb(154, 85, 214), rgb(35, 222, 255));
  background-size: 1px 50px;
}

.remove-but {
  background-image: linear-gradient(to right bottom, rgb(154, 85, 214), rgb(204, 1, 1));
  background-size: 1px 50px;
}

.btn {
  background-image: linear-gradient(to right bottom, #5F2E8B 20%, #792FBA 50%);
  background-size: 1px 200px;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
  text-shadow: 0px 0px 40px #FAFAFA;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12pt;
  box-shadow: 0px 1px 1px #999;
  outline: none;
}

.btn.small {
  padding: 5px 20px;
  font-size: 8pt;
  height: 35px;
}

.btn:hover {
  background-position: 200px;
  transition: 0.5s;
  cursor: pointer;
}

.button-group-right {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input-fields {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.input-box-short {
  width: 50% !important;
  margin: 0 auto;
}

.minimised .input-fields {
  display: none;
}

.error-msg {
  color: #c40000;
  text-align: center;
}

.width-80 {
  width: 80% !important;
}

.dialog-list {
  display: flex;
  flex-direction: column;
}

.dialog-list span::before {
  content: '#'
}

.btn-small-width {
  width: 200px;
}