html, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95%;
}

.container-cart {
  width: 30%;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.cart-header {
  flex: 0 1 auto;
}

.table {
  width: 70%;
  border-right: 2px solid #222;
}

.table-body {
  height: 85%;
  overflow: auto;
}

.filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-list {
  width: 100%;
  height: 100%;
  overflow: auto;
  flex: 1 1 auto;
}

.cart-footer {
  flex: 0 1 10%;
  padding-bottom: 1rem;
}

.qr-reader {
  width: 300px;
  margin: 50px auto;
}

.table .title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.shop-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5%
}

input.shop-number {
  width: 66%;
  height: 30px;
  padding: 1% 2%;
  border: none;
  outline: none;
  font-size: 2em;
}

input.filter-products {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(56, 56, 56);
  float: right;
  font-size: 1.5em;
  border-radius: 10px;
  padding-left: 10px;
}

input[type=text] {
  transition: 0.5s;
}

input[type=text]:focus {
  box-shadow: 0px 0px 8px rgba(218, 41, 144, 0.3);
}

input.quantity {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px dotted #ccc;
  text-align: center;
  outline: none;
}

.quantity-buttons {
  width: 25px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.cart-sum {
  width: 100%;
  height: 50px;
  font-size: 2em;
  text-align: center;
  background: rgb(255, 240, 240);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total-text {
  color: rgb(141, 78, 78)
}

.total-num {
  background: #fff;
  height: 50px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-buttons {
  margin-top: 10px;
}