html, #root, .App {
  height: 1000px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1000px;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1300px;
  height: 910px;
}

.container-cart {
  width: 500px;
  border-left: 2px solid #222;
  height: 810px;
  padding-bottom: 100px;
}

.filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-list {
  width: 450px;
  height: 780px;
  overflow: auto;
}

.qr-reader {
  width: 300px;
  height: 150px;
}

.table {
  width: 1000px;
}

.table .title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input.shop-number {
  width: 100%;
  height: 30px;
  padding: 20px;
  border: none;
  outline: none;
  font-size: 2em;
}

input.filter-products {
  width: 300px;
  height: 3rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(56, 56, 56);
  float: right;
  font-size: 1.5em;
  border-radius: 10px;
  transition: 0.5s;
  padding-left: 10px;
}

input.filter-products:focus {
  box-shadow: 0px 0px 8px rgba(218, 41, 144, 0.3);
}