.page-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: -1;
}

.page-content {
  background: #ffffff;
  width: 100%;
  opacity: 1;
  height: 435px;
  padding: 10px;
  overflow: auto;
}

.page-content-bottom {
  height: 230px;
  z-index: 1500;
  background: white;
}

.page-title {
  color: rgb(255, 255, 255);
  font-size: 36pt;
  font-weight: 900;
  height: 50px;
  width: 100%;
  text-align: center;
}